<table class="table">
    <a routerLink="add">Add</a>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngIf="productData && productData.length">
        <tr *ngFor="let item of productData, index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.image}}</td>
            <td>{{item.price}}</td>
            <td>{{item.description}}</td>
            <td>
                <button (click)="Delete(item.id)">Delete</button>
                <button><a routerLink="edit/{{item.id}}">Edit</a></button>
            </td>
        </tr>
    </tbody>
</table>